body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

/* my style */

.wrapper {
  margin: 0 auto;
  padding: 40px;
  max-width: 800px;
}

.table {
  margin: 0 0 40px 0;
  width: 100%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  display: table;
}

thead tr{
  padding: 20px;
}
.table td {
  padding: 5px;
}
@media screen and (max-width: 580px) {
  .table {
    display: block;
  }
}

.editBtn{
  background: #90A4AE;
  border: 0;
  padding: 5px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.5 ease;
  transition: all 0.5 ease;
  cursor: pointer;
}

.editBtn:hover {
  background: #78909C;
  transition: 0.5s;
}

.deleteBtn{
  background: #607D8B;
  border: 0;
  padding: 5px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.5 ease;
  transition: all 0.5 ease;
  cursor: pointer;
}

.deleteBtn:hover {
  background: #546E7A;
  transition: 0.5s;
}


.row {
  display: table-row;
  background: #f6f6f6;
}
.row.header {
  /* font-weight: 100; */
  color: #000000;
  background: #ECEFF1;
}
@media screen and (max-width: 580px) {
  .row {
    padding: 14px 0 7px;
    display: block;
  }
  .row.header {
    padding: 0;
    height: 6px;
  }
  .row.header .cell {
    display: none;
  }
  .row .cell {
    margin-bottom: 10px;
  }
  .row .cell:before {
    margin-bottom: 3px;
    content: attr(data-title);
    min-width: 98px;
    font-size: 10px;
    line-height: 10px;
    font-weight: bold;
    text-transform: uppercase;
    color: #969696;
    display: block;
  }
}

.cell {
  text-align: center;
  padding: 6px 12px;
  display: table-cell;
}
@media screen and (max-width: 580px) {
  .cell {
    padding: 2px 16px;
    display: block;
  }
}


/* for add employee */


.form input {
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 5px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 16px;
}

.form input:hover {
  background: #e2e2e2;
  width: 100%;
  transition: 0.5s;
}

.form button {
  text-transform: uppercase;
  background: #90A4AE;
  width: 100%;
  border: 0;
  padding: 10px;
  color:#fff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover {
  background: #78909C;
  transition: 0.5s;
}